<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to GIC Student Progress Assessment</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <header>
      <h1>Student Progress Tracker</h1>
      <!-- Navigation links -->
      <nav>
        <ul>
          <li><a href="welcome.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="form.html">Survey</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <h1>Welcome to GIC Student Progress Assessment</h1>
      <p>
        Thank you for participating in our student progress assessment program.
        Your feedback is invaluable to us!
      </p>
      <a href="about.html" class="btn">Learn More</a>
    </div>
  </body>
</html>
